# Core functionality - changes here should be rare!
/src/app.py                   @harshjohn756-collab
/src/backend/database.py      @harshjohn756-collab
/src/backend/routers/auth.py  @harshjohn756-collab

# The frontend will need refactored soon to be more object oriented.
/src/static/   @harshjohn756-collab
